<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<header>
  <div class="centered">
 <h1>TechBlog (being rendered from the main handlebars)</h1>
  {{> nav}}
  </div>

</header>
<body>
  {{{body}}} <!-- This will render the content of the individual views -->
</body>
</html>